.actionItemButton > .sapMBtnInner  {
    text-align: left !important;
    justify-content: left;
}
code {
    color: var(--sapList_Active_TextColor);
    background-color: var(--sapList_Active_Background);
    display: block;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0.5em 1em 0.5em 0.5em;
    border: 1px dashed var(--sapButton_Hover_BorderColor);
    font-family: "Lucida Console", monospace;
    font-size: 0.9em;
    line-height: 1rem;
    position: relative;
    tab-size: 4;
}