.mobileFooter {
    bottom: 1rem !important;
}
.actionItemButton > .sapMBtnInner  {
    text-align: left !important;
    justify-content: left;
}
code {
    color: black;
    display: block;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0.5em 1em 0.5em 0.5em;
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    font-family: "Lucida Console", monospace;
    font-size: 0.9em;
    line-height: 2rem;
    position: relative;
    tab-size: 4;
}